.AboutBox {
  display: flex;
  flex-wrap: wrap;
  
}

.About-Section {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;

}

.About-page-pic {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  margin-bottom: 80px;
}


.HorizontalLine {
  height: 50px;
  background: white;
}

.AboutTitle { 
  color: white;
}

.about-page-text {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  width: 90%;
  color: #fff;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.CO2 {
  width:300px;
  padding: 16px;
  background-color: white;
  border-radius: 50px;
  flex-basis: 20%;

}

/* Media Query*/
@media (min-width: 320px) and (max-width: 900px){
  .About-page-pic{
    flex-wrap: wrap;
  }
  }



