.HorizontalLine {
    height: 2px;
    background: white;
}

.ProjBox {
    margin: 50px;
}

.ProjTitle {
    color: white;
}

.Start-Project {
    color: white;
}

.Create-Project-Button {
    background-color: white;
    color: black;
    border: 3px solid black;
    font-size: 16px;
    border-radius: 16px;
    padding: 12px 24px;
}

.Create-Project-Button:hover {
    background-color: rgb(0, 0, 0);
    color: white; 
  }

.Create-Final {
    background-color: rgb(125, 203, 176);
    color: black;
    border: 3px solid black;
    font-size: 16px;
    border-radius: 16px;
    padding: 3px;
}

.Create-Final:hover {
    background-color: rgb(0, 85, 56);
    color: white; 
  }