.HorizontalLine {
  height: 3.5px;
  background: white;
}

.ProjBox {
  margin: 50px;
}

.ProjTitle {
  color: white;
}

.startProject {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  width: 90%;
  color: #fff;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.Start-Project {
  color: white;
}

.CardsList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.Create-Project-Button {
  background-color: white;
  color: black;
  border: 3px solid black;
  font-size: 16px;
  border-radius: 16px;
  padding: 12px 24px;
}

.Create-Project-Button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.Create-Final {
  background-color: rgb(125, 203, 176);
  color: black;
  border: 3px solid black;
  font-size: 16px;
  border-radius: 16px;
  padding: 3px;
}

.Create-Final:hover {
  background-color: rgb(0, 85, 56);
  color: white;
}

.modal {
  position: relative;
  border: 20px;
  border-color: black;
}
.exit-button {
  position: absolute;
  margin: 10px 10px;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 1.25rem;
  background: transparent;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 0.6rem;
  border: 0;
  outline: none;
}
.exit-button:hover {
  color: red;
}
.new-project-header {
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 2px;
  color: rgb(0, 85, 56);
  font-family: "Sora", bold;
}
.input-project-headers {
  padding: 5px;
  font-size: 16px;
  align-items: center;
  margin-left: 2.15em;
  color: rgb(0, 85, 56);
}

.input-project-user {
  margin-left: 2.4rem;
}

.delete-create-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 2.4rem;
  margin-top: 12px;
  margin-right: 2.4rem;
  justify-content: space-between;
}

.individual-button {
  background-color: rgb(125, 203, 176);
  color: black;
  border: none;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 12px;
  margin-top: 12px;
  padding: 8px;
  text-decoration: none;
  flex-basis: 5%;
  flex-grow: 0;
  min-width: 0;
  cursor: pointer;
}

.individual-button:hover {
  background-color: rgb(0, 85, 56);
  color: white;
}
