/* Fill me in :) */
.Map {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  max-width: 90%;
}

.CO2-Title {
  
  margin-left: 200px;
  margin-top: 50px;
  margin-right: 200px;
  margin-bottom: 50px;
  padding: 30px;
  font-size: 30px;
  background-color: black;
  color: white;
  font-style: italic;

  text-align:center;
}
