.NavBar-container {
    padding: var(--s) var(--l);
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: sticky;
    top: 0;
    
  }
  
.NavBar-title {
    color: var(--black);
    font-size: 32px;
  }
  
.NavBar-linkContainer {
    padding: var(--m) var(--m) var(--m);
    display: flex;
    align-items: center;
  }
  
.NavBar-link,
.NavBar-link:visited {
    color: black;
    font-size: 18px;
    text-decoration: none;
    height: 20px;
    margin: 0px 32px 0px 0px;
    padding-bottom: 3px; 
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
  }
  
.NavBar-link:hover {
    color: rgb(9, 156, 124);
    border-bottom-color: rgb(9, 156, 124);
  }

.NavBar-link.NavBar-login {
    border-radius: 10px;
  }
  
